body {
    padding-top: 40px;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.1rem;
}

h2,
h3 {
    font-family: $font-family-sans-serif;
}

h4 {
    font-family: $font-family-serif;
}

.btn {
    font-family: $font-family-sans-serif;
    letter-spacing: 0.1rem;
}

input {
    &.form-control {
        border: 1px solid $black;
        border-right: 0;
        border-radius: 1.2rem;
        padding-left: 2rem;
        &:focus {
            border-color: inherit;
        }
    }
}

div.wrap {
    margin-top: -118px;
}

#page-hero {
    background-color: transparent;
    color: $white;
    padding-top: 138px;
    padding-bottom: 120px;
    h1 {
        max-width: 45.1rem;
        line-height: 3.4rem;
    }
    h4 {
        max-width: 28.2rem;
        line-height: 2rem;
    }
    button {
        background: $white;
        border: 1px solid transparent;
        border-radius: 1.5rem;
        cursor: pointer;
        padding-left: 4rem;
        padding-right: 4rem;
        &:hover {
            border: 1px solid $black;
        }
    }
}

